* {
    box-sizing: border-box;
}

/* --- Links --- */
a  {
    color: #6a3a00;
}

a:hover {
    color: #985a0f;
}

a:active {
    color: #ffeecf;
}

/* --- Navbar --- */

/* --- Nombre en el navbar --- */
.navbar-brand {
  font-size: 2.2rem;
}

/* Color normal de los links de la navbar */
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .dropdown-menu .dropdown-item {
    color: #ffffff; 
}

/* Color al pasar el mouse */
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .dropdown-menu .dropdown-item:hover {
    color: #985a0f !important; 
}

/* Color cuando el link está activo */
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .dropdown-menu .dropdown-item.active
 {
    color: #c79d69;
    background-color: transparent;
}

/* Suavizar transición del hover */
.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
    transition: all 0.2s ease-in-out;
}

/* --- Estilos del submenú para Estilo y Legado --- */

.dropdown-item-special {
    color: #c79d69 !important;
    font-weight: 600;
}

.dropdown-item-special:hover {
    color: #e6c59a !important;
    background-color: rgba(255, 255, 255, 0.1);
}

/* --- Estilos específicos index.html --- */

/* --- Banner --- */

#banner-borromini {
    min-height: 100vh;
    
    /* Oscurecimiento */
    background-image: linear-gradient(#000000a6, #000000a6), url('../img/cupula-sant-ivo.jpg');
    background-size: cover;
    background-position: center center;
}

/* --- Fondos de los contenedores --- */

.bg-gris-oscuro {
    background-color: #575757;
}

.bg-gris-claro {
    background-color: #848383;
}

/* --- Títulos de los contenedores --- */

#introduccion h2 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
}

#destacados h2 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
}

/* --- Estilos para las cards --- */

.card-img-container {
    position: relative;
    overflow: hidden;
}

.card-hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* Fondo oscuro semitransparente */
    background-color: #000000bf; 
    
    /* Estilo del texto */
    color: #ffffff;
    
    /* Centrado del texto */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* Oculto por defecto */
    opacity: 0;
    
    /* Transición */
    transition: opacity 0.3s ease-in-out;
}

/* Efecto hover */
.card:hover .card-hover-overlay {
    opacity: 1;
}

/* Zoom en la imagen */
.card .card-img-top {
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(1.05); /* Agranda un poco la imagen */
}

#destacados .card {
    background-color: #2c3034;
    border: 1px solid #495057;
}

#destacados .card-title {
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

/* --- Estilos biografia.html --- */

#titulo-centrado h1 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

/* --- Estilos específicos estilo.html --- */

#estilo, 
#tecnica {
font-family: 'League Spartan', sans-serif;
}

#estilo h2, 
#tecnica h2 {
    font-weight: 700;
}

#origenes h2,
#rivalidad h2,
#final h2,
h3,
h2 {
    font-family: 'League Spartan', sans-serif;
}

.img-escala-estilo {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* --- Estilos analisis.html --- */

.accordion-button {
    background-color: #969696;
    border-radius: 0.25rem;
  }

  .accordion-button:not(.collapsed) {
    background-color: #969696; 
    color: #fff;
  }

.accordion-body {
    background-color: #969696; 
    color: #f8f9fa;
}

/* --- Estilos específicos legado.html --- */

#opus-architectonicum img {
    max-width: 75%;
    display: block;
    margin: 0 auto;
}

/* --- Estilos específicos autoras.html --- */

.pfp {
  width: 100%;
    max-width: 140px;
    height: auto;
    border-radius: 50%;
  object-fit: cover;
  border: 3px solid #848383; 
  margin-bottom: 1rem;
}

.mail-autora {
  color: #ADA6A6;
  transition: color 0.3s ease;
}

.mail-autora:hover {
  color: #cccccc;
  text-decoration: none;
}

/* --- Estilos del Footer --- */

.footer-nav-link {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-nav-link:hover {
    color: #6a3a00 !important;
}

.footer-autoras {
    font-size: 0.9rem;
}